button {
  border: 0;
  background-color: white;
  cursor: pointer;

  &:disabled {
    cursor: auto;
  }
}

.toolbar {
  height: 4rem;
  border-bottom: 1px solid #dee2e6;
}

.pad-buttons {
  padding: 10px;
}
