.title {
  font-size: 0.75em;
}

fa-icon {
  cursor: pointer;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.gray {
  background-color: gray;
}
